<div class="countdown">
    <div class="countdown__title-wrapper" id="countdown-title-wrapper">
        <h2 class="countdown__title" id="countdown-title" [style.font-size]="fonts.titleFontSize+'px'" >Time to {{ title }}</h2>
    </div>  
    <div class="countdown__title-wrapper" id="countdown-counter-wrapper">
        <h2 class="countdown__counter" id="countdown-counter" [style.font-size]="fonts.counterFontSize+'px'" >{{ countdownDisplay }}</h2>
    </div>
    <div class="countdown__inputs">
        <fieldset class="countdown__input-wrapper">
            <legend class="countdown__input-label">Title</legend>
            <input type="text" [value]="title" class="countdown__input" (input)="handleChangeTitle($event)"/>
        </fieldset>
        <fieldset class="countdown__input-wrapper">
            <legend class="countdown__input-label">Date</legend>
            <input type="date" [value]="countdownDate" class="countdown__input" (change)="startCountdown($event)"/>
        </fieldset>
    </div>
</div>
